i{
    @apply text-orange-300
}
h2{
    @apply  text-center text-orange-300 italic py-4
}

#outlined-basic{
    @apply text-yellow-50 border-[#9c6939] py-4 px-20
}

.location{
    @apply text-orange-600 font-bold 
}
#location1{
   @apply text-orange-600 font-bold 
}
#location0{
   @apply text-orange-600 font-bold 
}


.overlay{
    @apply fixed w-[100%] h-[100vh] z-20 
}

.content{
    @apply fixed top-[20vh] left-[20%] right-[50%] bg-stone-500 p-10 w-[50%] rounded-lg
}

/* .overlay {
    
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
    cursor: pointer;
  }

.content {
        margin: 15% auto;
        background-color: white;
        border-radius: 0.25rem;
        width: 50vw;
        padding: 2rem;
        position: relative;
  } */
